<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281921997914-vresitbs1s2hv026iak0hi3istnlo2d1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281921997914-vresitbs1s2hv026iak0hi3istnlo2d1</string>
	<key>API_KEY</key>
	<string>AIzaSyDGwV2FqKPivmF8YOy7o0gKX0OGXAYiBH0</string>
	<key>GCM_SENDER_ID</key>
	<string>281921997914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waterloomasjid</string>
	<key>PROJECT_ID</key>
	<string>waterloo-masjid-app-a1dd9</string>
	<key>STORAGE_BUCKET</key>
	<string>waterloo-masjid-app-a1dd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281921997914:ios:0f9c94f928eeb198861c63</string>
</dict>
</plist>